body {
  background-color: #222;
  color: #fff;
}
*:focus {
  outline: none;
}
* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
header {
  background-image: linear-gradient(45deg, #bc4e9c, #f80759);
  padding: 1rem 0;
}
header h1 {
  margin: 0;
}
.poster {
  width: 200px;
  height: 300px;
}
.movie-part h2 {
  font-size: 16px;
  margin-top: 1rem;
  /* margin-bottom: 2rem; */
}
.movie-part p {
  font-size: 14px;
  color: #aaa;
  margin: 0.5rem 0;
}
.movie-img {
  position: relative;
}
.movie-like {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  transition: 0.5s;
  position: absolute;
  bottom: 0.8rem;
  left: 70%;
  background-color: rgba(85, 85, 85, 0.4);
}
.movie-like:hover {
  background-color: #ff6781;
}
.movie-like.active-movie-like {
  background-color: #ff6780ca;
}
.like-icon {
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.active-icon {
  color: #fff;
}
/* modal */
.modal-body {
  padding: 4rem 0rem 4rem 3rem;
  position: relative;
  max-width: 500px;
}
.modal-body > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.modal-body .tag {
  justify-content: start;
}
.modal-body .tag > div {
  min-width: 5rem;
  padding: 2px 8px;
  white-space: nowrap;
  border-radius: 3px;
  text-align: center;
  line-height: 1.5rem;
  margin: 8px 0.5rem 4px 0;
  background-color: #735cdd;
  font-weight: 500;
}

.modal-body h2 {
  font-size: 2rem;
}
.modal-body p {
  line-height: 1.5rem;
  text-align: justify;
  font-weight: 500;
}
.modal-title p {
  font-weight: 300;
}
.modal-img {
  width: 40%;
  min-width: 12rem;
  overflow: hidden;
  position: relative;
}

.modal-poster {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
  object-position: center center;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.9)
  );
}
.modal-body .score {
  font-weight: 500;
  font-size: 36px;
}

.modal-body .movie-detail {
  justify-content: start;
  align-items: flex-start;
  color: #ccc;
  letter-spacing: 0.5px;
}
@media (max-width: 1024px) {
  .poster {
    max-width: 150px;
    height: 100%;
  }
  .movie-like {
    left: 45%;
  }
}
@media (max-width: 768px) {
  .poster {
    max-width: 150px;
    height: 100%;
  }
}
@media (max-width: 375px) {
  .poster {
    max-width: 150px;
    height: 100%;
  }
  .movie-like {
    left: 65%;
  }
  .modal-body {
    padding: 0 2rem 0.5rem;
  }
  .modal-img {
    width: 100%;
    max-height: 250px;
  }
  .modal-body .modal-title {
    position: absolute;
    top: -15%;
    left: 0;
    z-index: 1;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0 2rem;
  }
  .modal-body h2 {
    font-size: 1.5rem;
    margin-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
  }
  .modal-title p {
    white-space: nowrap;
  }
}
